<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Our story</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1988</h4>
                                    <h4 class="subheading">Nuclear Physicist in Cuba</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a newly graduate, Belkis started her career as a Nuclear Physicist in Cuba</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1991 - 2008</h4>
                                    <h4 class="subheading">Economic Crisis. Career change. Big Chain Regional Director</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As Cuba entered a deep economic depression in 1991, Belkis was forced to change careers and work as a Business Manager and International Supply Chain professional. She eventually became the Regional Director of one of the biggest store chains in Cuba</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009 - 2013</h4>
                                    <h4 class="subheading">Moved to Canada. First property</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Belkis & Arturo immigrated to Canada to give their family a better future. They bought the first property a couple of months after arriving. After a rehab and sell, they made a profit of $50k</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">First House Hack + Airbnb in Mississauga</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After rehabbing, finishing the basement, adding a new bedroom and 2 bathrooms, the next property was accommodated to host 3 doors for long and short term rentals</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Second House Hack + Airbnb in Mississauga</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After renovating, and renting the basement, this property started giving 68% Return on Investment</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February, 2021</h4>
                                    <h4 class="subheading">Duplex in Welland, Ontario</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After joining Keyspire in late 2020, we sped up our Real Estate portfolio growth. During a hot sellers market in Ontario, we built a great team, analyzed more than 100 properties and made 8 offers. We found one with a healthy positive cashflow and an estimated 37%+ Return on Investment.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
